@import '../foundation/animate_motion';


.main {
    display: grid;
    width: 100dvw;
    height: 100dvh;
    background: #141518;
    overflow: hidden;
    grid-template-columns: max-content auto;
    grid-template-rows: 51px auto;
    grid-template-areas:
        "side header"
        "side main";
    

    .header {
        grid-area: header;
        
        border-color: gray;
        border-bottom: 1px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(13, 69, 255, 0.377), rgba(1, 203, 253, 0.555));
        backdrop-filter: blur(10px);


    }

    .side {
        background-color: aqua;
        grid-area: side;
        width: 100%;
        height: 100%;
    }

    .section {
        grid-area: main;
        width: 100%;
        height: 100%;
        background: #141518;
        backdrop-filter: blur(15px);
    }

}